<!--<footer class="row" style="background: #007bff;-->
<!--    margin-top: 19px;">-->
<!--    <div class="col-md-4" >-->
<!--        <ul class="list-unstyled " style="display: inline" >-->
<!--        <li style="float: left; margin:10px;">facebook</li>-->
<!--        <li style="float: left; margin:10px;">twitter</li>-->
<!--        <li style="float: left; margin:10px;">youtube</li>-->
<!--        </ul> </div>-->
<!--    <div class="col-md-4" > حقوق الطبع محفوظة لـــ OS </div>-->
<!--    <div class="col-md-4" >-->

<!--        <ul class="list-unstyled" style="display: inline">-->
<!--            <% students.forEach((student, index)=>{ %>-->
<!--                <li style="float: left; margin:10px;">-->
<!--                    <img class=" img-thumbnail" style="    height: 130px;-->
<!--    width: 130px;" src="/assest/img/<%- student.img %>">-->
<!--                </li>-->
<!--            <% }) %>-->
<!--        </ul>-->
<!--    </div>-->
<!--</footer>-->

<script src="/assest/js/socket.io.js"></script>
<!--<script src="/assest/js/jquery-1.10.1.min.js"></script>-->
<script src="/assest/js/jquery.min.js"></script>
<script src="/assest/js/popper.min.js"></script>
<script src="/assest/js/bootstrap.min.js"></script>
<script src="/assest/js/script.js"></script>
</head>
</body>
</html>