<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/assest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assest/css/style.css">
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Osama</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
        </li>


    </ul>
</nav>
<% if(typeof (errors) !== 'undefined' && errors.length > 0){ %>
    <div class="alert alert-danger">
        <% for (error of errors ){ %>
            <strong>Warning!</strong><%= error %> <br>
        <% } %>
    </div>
<% } %>

<% if(typeof (success) !== 'undefined' && success.length > 0){ %>
    <div class="alert alert-success">
        <% for (error of success ){ %>
            <strong></strong><%= error %> <br>
        <% } %>
    </div>
<% } %>
