<%- include('includes/header'); %>
<h1>about</h1>




<section class="container"  >
    <form class="form-group" action="/postLogin" method="post">
        <div class="form-group">
            <label class=""> username : </label>
            <input type="text" name="username" placeholder="enter your name"> <br>
        </div>

        <div class="form-group">
            <label class=""> password : </label>
            <input type="password" name="password" placeholder="enter your name"> <br>
        </div>
        <input type="submit" class="btn btn-info" value="login">
    </form>

</section>

</body>
</html>